<!DOCTYPE html>
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/flatly/bootstrap.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!--<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"-->
    <!--integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"-->
    <!--crossorigin="anonymous"></script>-->
</head>
<body ng-app="myApp" ng-controller="tableController">
<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                </button>
                <a class="navbar-brand" href="/">搜索</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="#"><a href="/">关于</a></li>
                </ul>
            </div><!--/.nav-collapse -->

        </div><!--/.container-fluid -->
    </nav>
</div>
<div class="container">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" id="keyword" required>
        <span class="input-group-btn">
                <button class="btn btn-default" ng-click="search()">搜索</button>
            </span>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="results" style="margin-top: 30px;">
                <div masonry>
                    <div class="panel panel-primary masonry-brick" ng-repeat="x in things.data" ng-cloak>
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="ip">
                            <i class="fa fa-fw fa-linux" aria-hidden="true" data-toggle="tooltip"
                               data-placement="bottom" title="" data-original-title="operating system"></i>
                            {{ x.ip }}<button class="pull-right" style="background-color: #2d3e4f" ng-click="detail(x.ip)">+</button>
                            </span>
                            </h3>
                        </div>
                        <div class="results-metadata">
                    <span class="detail"><i class="fa fa-fw fa-cloud" aria-hidden="true" data-toggle="tooltip"
                                            data-placement="bottom" title=""
                                            data-original-title="autonomous system"></i>{{x.os}}</span>
                            <br>
                            <span class="detail"><i class="fa fa-fw fa-map-marker" aria-hidden="true"
                                                    data-toggle="tooltip"
                                                    data-placement="bottom" title=""
                                                    data-original-title="geographic location"></i>{{x.addr}}</span>
                            <br>
                            <span class="detail"><i class="fa fa-fw fa-map-marker" aria-hidden="true"
                                                    data-toggle="tooltip"
                                                    data-placement="bottom" title=""
                                                    data-original-title="geographic location"></i>{{x.domain}}</span>
                            <span class="detail" ng-repeat="y in x.services"><i class="fa fa-fw fa-map-marker"
                                                                                aria-hidden="true"
                                                                                data-toggle="tooltip"
                                                                                data-placement="bottom" title=""
                                                                                data-original-title="geographic location"></i>{{y}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container">
    <div class="modal" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">{{ modal_data.ip }}</h2>
                </div>
                <div class="modal-body">
                    <div ng-repeat="x in modal_data.data" ng-cloak>
                        <div>
                            <h3>{{ x.port }}|{{ x.name }}</h3>
                            <ul class="list-group" ng-repeat="(key,value) in x.banner">
                                <li class="list-group-item">
                                    <span class="tag tag-default tag-pill float-xs-right"><h4 style="display:inline ;margin-right:5px">{{ key }}</h4></span>
                                    {{ value }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('tableController', function ($scope, $http) {
        $scope.customerTable = [];
        $scope.detail = function (ip) {
            $http({
                method: 'GET',
                url: '/detail/' + ip
            }).then(function (response) {
                //window.alert(response);
                $scope.modal_data = {'ip': ip, 'data': response.data.data};// modal 中展示的数据，通过$scope 传递
                window.console.log($scope.modal_data.data);
                $('#modal').modal('show');
                sayfuck();
            });
        };
        $scope.search = function () {
            if ($('#keyword').val()) {
                $http({
                    method: 'GET',
                    url: '/search/' + $('#keyword').val()
                }).then(function (response) {
                    //window.alert(response);
                    $scope.things = response.data;

                });
            }
        };
    });
</script>
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
</body>
</html>
